extends layout

block header
  title Getting Started

block content

  div.container
    div.page-header
      h1 Getting Started
    p.lead.text-justify
      |HON-Bootstrap-Template (currently v0.0.1) has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.
    h2 Source Code
    p
      |Source code
    p.text-center
      a(href="https://github.com/healthonnet/hon-bootstrap-template/releases",class="btn btn-success")
        |Download source
    h2 Install with Bower
    p
      |You can also install and manage HON-Boostrap-Template Scss and JavaScript using Bower:
      pre
        |$ bower install hon-bootstrap-template
