extends layout

block header
  title HON Bootstrap Template

block content

  div.container
    div.page-header
      h1 HON Bootstrap Template
    p.lead.text-justify
      | HTML, CSS, and JS framework for developing responsive, mobile first projects for the Health On the Net Foundation.
    p.lead
      |HON Bootstrap Template is open source. It's hosted, developed, and maintained on GitHub.
    p.text-center
      a(href="https://github.com/healthonnet/hon-bootstrap-template", class="btn btn-primary btn-lg")
        |View the GitHub project
