.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $zircon;
  border-top: 1px solid $mercury;
  color: $tundora;

  p {
    margin: 15px 0;
  }

  @media screen and (max-width: 450px) {
    .full-copyright {
      display: none;
    }
  }
}
